### housekeeping

In [13]:
import numpy as np
import pandas as pd
import json

In [14]:
data = pd.read_csv('../data/cned/cned.csv')

FileNotFoundError: [Errno 2] File b'../data/cned/cned.csv' does not exist: b'../data/cned/cned.csv'

In [12]:
class NpEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, np.integer):
            return int(obj)
        elif isinstance(obj, np.floating):
            return float(obj)
        elif isinstance(obj, np.ndarray):
            return obj.tolist()
        else:
            return super(NpEncoder, self).default(obj)

# Human capital skills for jobs in the next generation

Increasingly, highly demanded jobs require a diverse set of human capital skills: team-building, mindfulness, continous learning (see an example from [United Nations](https://careers.un.org/lbw/attachments/competencies_booklet_en.pdf)). Moreover, jobs in demand are linked to fast growing higher education programs, which in turn have stricter entry requirements, measured by standarized tests (like SAT or equivalent).  Here is an example from Chile, showing the relationship between mean standarized college entry scores in Chile (PSU) and enrollement size for each program across all areas of higher education (excludes programs without test requirements).


This complex mix of capacities, required to be successful in atractive career paths, demand an active human skill accumulation process during the school years. Extensive evidence indicates that active learning at school requires a mix of socio-emotional skills and physical health. The [OCDE](https://read.oecd-ilibrary.org/social-issues-migration-health/the-heavy-burden-of-obesity_67450d67-en#page1) estimates suggest that normal weight is assci

In [4]:
data = data.sort_values(by='year')
data.dropna(inplace=True)

NameError: name 'data' is not defined

In [2]:
# print(data.groupby(by='year').apply(lambda x: x.to_dict('records')))

jsonData = data[['ingreso2', 'puntaje', 'area', 'year']].groupby(by='year').apply(lambda x: x.to_dict('records'))

NameError: name 'data' is not defined

In [3]:
jsonData.iloc[1]
# jsonData.describe()

NameError: name 'jsonData' is not defined

In [169]:
dataYearsList = data['year'].unique()

In [170]:
# create an output json variable
output = []
i = 0
while i<len(dataYearsList):
#     print(i, dataYearsList[i])
    outputObject = {}
    outputObject['year'] = dataYearsList[i]
    outputObject['areas'] = jsonData.iloc[i]
    output.append(outputObject)
    i = i+1

In [174]:
output
# print(output.to_json())
jsonDump = json.dumps(output, cls=NpEncoder)
# print(json.loads(jsonDump))
# print(json.loads(jsonOutput))
jsonOutput = json.loads(jsonDump)

In [175]:
with open('../data/viz/output.json', 'w') as outfile:
    json.dump(jsonOutput, outfile)

## School Performance and Nutrition Status

The following includes anthropometric and school performance data from Chilean freshman students. These are pulled from distinct datasets. 

### Variables to use
- obesityPrevalence - prevalence of obesity per institution in the sample
- idrbd - Unique identifier of schools
- efectivr - School performance score

In [63]:
# import csv files from /data/sned and /data/mn

In [64]:
sned = pd.read_csv('../data/sned/sned.csv')
mn = pd.read_csv('../data/mn/1m2017.csv')

In [65]:
sned.head()

,idrbd,nom_rbd,cod_reg_rbd,cod_pro_rbd,cod_com_rbd,nom_com_rbd,cod_deprov_rbd,nom_deprov_rbd,rural_rbd,efectivr,superar,iniciar,mejorar,integrar,igualdr,cluster,indicer,sel2016_25,sel2016_35,sel
0,1,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,1,41.494973,51.521082,87.836364,92.345679,76.083333,92.953156,1532,61.149999,2,2,3
1,2,PARVULARIO LAS ESPIGUITAS,15,151,15101,ARICA,151,ARICA,1,56.500516,49.402534,91.754545,92.592593,70.700000,96.895561,1512,66.947049,2,2,3
2,3,ESC. PEDRO VICENTE GUTIERREZ TORRES,15,151,15101,ARICA,151,ARICA,2,47.259024,49.135619,0.000000,92.592593,0.000000,95.273599,1521,54.055856,2,2,3
3,4,LICEO OCTAVIO PALMA PEREZ,15,151,15101,ARICA,151,ARICA,1,67.427625,44.229581,100.000000,92.592593,96.666667,97.728461,1532,71.517950,2,2,3
4,5,JOVINA NARANJO FERNANDEZ,15,151,15101,ARICA,151,ARICA,1,70.269825,53.751541,93.250000,74.074074,62.500000,96.676192,1532,72.520511,2,1,2

In [77]:
mn.dropna(inplace=True)

In [78]:
mn['obesityPrevalence'] = ((mn['onino'] + mn['onina']) / mn['total']) * 100

In [79]:
mn[['onino', 'onina', 'total','obesityPrevalence']]

      onino  onina  total  obesityPrevalence
0        10      6    107          14.953271
1         4      0     32          12.500000
2         2      0     44           4.545455
3        10      9    133          14.285714
4         7      7    100          14.000000
...     ...    ...    ...                ...
2475      4      4     34          23.529412
2476     10      0     79          12.658228
2477      4      5     45          20.000000
2478      0      0      1           0.000000
2479      1      1     19          10.526316

[2480 rows x 4 columns]

In [71]:
mn.set_index('idrbd')

,dnino,dnina,bpnino,bpnina,nnino,nnina,snino,snina,onino,onina,rtnino,rtnina,tnino,tnina,total,obesityPrevalence
idrbd,,,,,,,,,,,,,,,,
97.0,1,1,2,3,21,31,13,19,10,6,3,6,47,60,107,14.953271
103.0,0,0,3,1,6,8,6,4,4,0,0,0,19,13,32,12.500000
106.0,2,0,1,0,14,5,12,8,2,0,3,0,31,13,44,4.545455
107.0,2,0,8,4,36,31,13,20,10,9,3,6,69,64,133,14.285714
108.0,2,1,6,4,23,29,8,13,7,7,4,2,46,54,100,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30003.0,0,1,4,1,17,20,12,14,10,0,1,0,43,36,79,12.658228
40230.0,1,0,2,0,16,4,9,4,4,5,2,0,32,13,45,20.000000
72.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0.000000
78.0,0,0,1,0,6,5,4,1,1,1,1,1,12,7,19,10.526316
NaN,1636,666,7023,4318,51914,51437,31375,33953,18749,16149,2938,3035,110697,106523,217220,16.065740

In [81]:
mn['idrbd'] = mn['idrbd'].astype(np.int64)

mn

In [82]:
mn

,idrbd,dnino,dnina,bpnino,bpnina,nnino,nnina,snino,snina,onino,onina,rtnino,rtnina,tnino,tnina,total,obesityPrevalence
0,97,1,1,2,3,21,31,13,19,10,6,3,6,47,60,107,14.953271
1,103,0,0,3,1,6,8,6,4,4,0,0,0,19,13,32,12.500000
2,106,2,0,1,0,14,5,12,8,2,0,3,0,31,13,44,4.545455
3,107,2,0,8,4,36,31,13,20,10,9,3,6,69,64,133,14.285714
4,108,2,1,6,4,23,29,8,13,7,7,4,2,46,54,100,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2475,30001,0,0,1,0,11,8,2,4,4,4,0,1,18,16,34,23.529412
2476,30003,0,1,4,1,17,20,12,14,10,0,1,0,43,36,79,12.658228
2477,40230,1,0,2,0,16,4,9,4,4,5,2,0,32,13,45,20.000000
2478,72,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0.000000
2479,78,0,0,1,0,6,5,4,1,1,1,1,1,12,7,19,10.526316

In [83]:
mergedData = pd.merge(mn, sned, on='idrbd', how='inner')

In [85]:
mergedData['efectivr']

0       49.974329
1       47.818693
2       52.072257
3       53.773238
4       38.095751
          ...
2458    64.672959
2459    52.630439
2460    46.550346
2461    43.516118
2462    53.140512
Name: efectivr, Length: 2463, dtype: float64

In [87]:
mergedData[['idrbd' ,'onino', 'onina', 'total','obesityPrevalence']]

      idrbd  onino  onina  total  obesityPrevalence
0        97     10      6    107          14.953271
1       103      4      0     32          12.500000
2       106      2      0     44           4.545455
3       107     10      9    133          14.285714
4       108      7      7    100          14.000000
...     ...    ...    ...    ...                ...
2458  30001      4      4     34          23.529412
2459  30003     10      0     79          12.658228
2460  40230      4      5     45          20.000000
2461     72      0      0      1           0.000000
2462     78      1      1     19          10.526316

[2463 rows x 5 columns]